In [10]:
list=[10,20,60,50]
print(type(list))
list2=['roopam','kumari']
print(list2)
list3=[[list],list2]
print(type(list3))

<class 'list'>
['roopam', 'kumari']
<class 'list'>

In [12]:
#to remove from list 

list=['two','three','seven','ten','two']
print(list)
list.remove('two')
print(list)

['two', 'three', 'seven', 'ten', 'two']
['three', 'seven', 'ten', 'two']

In [37]:
# list append and extend 
list=['two','three','ten','twenty','eight']
print(list)
list1=['three']
list.append(list1)
list.append('one')
print(list)

# by using extend

list3=['two','three','ten','twenty','eight']
print(list3)
list4=[10,20,30,40]
list3.extend(list4)
list3.extend('5008')
print(list3)

['two', 'three', 'ten', 'twenty', 'eight']
['two', 'three', 'ten', 'twenty', 'eight', ['three'], 'one']
['two', 'three', 'ten', 'twenty', 'eight']
['two', 'three', 'ten', 'twenty', 'eight', 10, 20, 30, 40, '5', '0', '0', '8']

In [ ]:
# del 
list3=['two','three','ten','twenty','eight']
del list3[1]
print(list3)  


# pop
list4=['two','three','ten','twenty','eight']
num=list4.pop(1)
print(list4) 
print(num)

#remove

list5=['two','three','ten','twenty','eight']
list5.remove('two')
print(list5) 

listt6=['two','three','ten','twenty','eight']

if 'two' in list6:
    print('ml')

In [24]:
# keyowrd in condition
list4=['two','three','ten','twenty','eight']

if 'one' in list4:
    print('ml')
else:
    print('ai')

ai

In [25]:
#reverse
list4=['two','three','ten','twenty','eight']
list4.reverse()
print(list4)

['eight', 'twenty', 'ten', 'three', 'two']

In [31]:
#sorting 
list4=['two','three','ten','twenty','eight']
list5=sorted(list4, reverse=True)
print(list4)
print(list5)                     #original list is not sorted 


list4.sort()
print(list4)

['two', 'three', 'ten', 'twenty', 'eight']
['two', 'twenty', 'three', 'ten', 'eight']
['eight', 'ten', 'three', 'twenty', 'two']

In [38]:
# references in list 
lst=[45,87,34,23,23]
abc=lst
lst.append(45)
print(lst)

[45, 87, 34, 23, 23, 45]

In [44]:
#converting a string into a list

str='today is a cold day'
slist=str.split(' ')
print(slist)
print(str)

['today', 'is', 'a', 'cold', 'day']
today is a cold day

AttributeError: 'int' object has no attribute 'split'

In [57]:
#slicing 
lst=[45,87,34,23,23,45,23,67]

print(lst[:2])
print(lst[0:2])
print(lst[1:2])
print(lst[::2])    # alternate number 
print(lst[2::2])    # alternate number

[45, 87]
[45, 87]
[87]
[45, 34, 23, 23]
[34, 23, 23]

In [61]:
#count

lst=[45,87,34,23,23,45,23,67]
print(lst.count(45))
print(len(lst))

2
8

In [75]:
#loops
lst=[45,87,34,23,23,45,23,67]
length=len(lst)
print(length)
for ele in lst:
    print(ele)
    
    
for ele in range(0,length,2):
    print(lst[ele])

8
45
87
34
23
23
45
23
67
45
34
23
23

In [88]:
#comprehension

list=[]
for ele in range(10):
    list.append(ele**2)

print(list)


#through comprehension

list1=[ele**2 for ele in range(10)]
print(list1)

lst=[45,87,-34,23,23,45,23,67]

newlist=[i*2 for i in lst]    # double value 
print(newlist)

newlist=[i*2 for i in lst]    # double value 
print(newlist)


newlist1=[i*2 for i in lst if i>=0]
print(newlist)

newlist1=[i*2 for i in lst if i>=0]
print(newlist1)

newlist1=[(i,i*2) for i in lst]
print(newlist1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[90, 174, -68, 46, 46, 90, 46, 134]
[90, 174, -68, 46, 46, 90, 46, 134]
[90, 174, -68, 46, 46, 90, 46, 134]
[90, 174, 46, 46, 90, 46, 134]
[(45, 90), (87, 174), (-34, -68), (23, 46), (23, 46), (45, 90), (23, 46), (67, 134)]